# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Django
# =========================
db.sqlite3
*.log

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Media & data
# =========================
media/
datasets/
rag_indexes/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# OS & IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
